{% extends 'base.html' %}
{% load static %}
{% block content %}
        <!-- Start: Page Banner -->
        <section class="page-banner services-banner">
            <div class="container">
                <div class="banner-header">
                    <h2>Register</h2>
                    <span class="underline center"></span>
                    <p class="lead"></p>
                </div>
                <div class="breadcrumb">
                    <ul>
                        <li><a href="{% url 'home' %}">Home</a></li>
                        <li>Register</li>
                    </ul>
                </div>
            </div>
        </section>
        <!-- End: Page Banner -->


        <!-- Start: Cart Section -->
                <main id="main" class="site-main">
                    <div class="signin-main">
                        <div class="container">
                            <div class="woocommerce">
                                <div class="woocommerce-login">
                                    <div class="company-info signin-register">
                                        <div class="col-md-3"></div>
                                        <div class="col-md-6 col-md-offset-1 border-dark-left">
                                          <form action="" method="post">
                                            {% csrf_token %}
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="company-detail bg-dark margin-left">
                                                            <p class="form-row form-row-first input-required">
                                                              <input type="email"  id="email" name="email" class="input-text" placeholder="Email *">
                                                             </p>
                                                            <p class="form-row form-row-last input-required">
                                                              <input type="password" id="password" name="password" class="input-text" placeholder="Password *">
                                                            </p>
                                                            <div class="clear"></div>
                                                                <select name="user_type" class="input-text" id="user_type">
                                                                  <option class="input-text">====================SELECT====================</option>
                                                                  <option class="icon-pencil" value="COLLAGE">COLLAGE</option>
                                                                  <option class="input-text" value="BOOK">BOOK</option>
                                                                  <option class="input-text" value="LIBRARIAN">LIBRARIAN</option>
                                                                </select>
                                                                <div class="clear"></div><br>
                                                      <input type="submit" value="Send OTP" id="register" class="button btn btn-default">
                                                    </div>
                                                </div>
                                            </div>
                                          </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
        <!-- End: Cart Section -->
        
        <!-- Start: Social Network -->
        <section class="social-network section-padding">
            <div class="container">
                <div class="center-content">
                    <h2 class="section-title">Follow Us</h2>
                    <span class="underline center"></span>
                    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
                <ul>
                    <li>
                        <a class="facebook" href="#" target="_blank">
                            <span>
                                <i class="fa fa-facebook-f"></i>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a class="twitter" href="#" target="_blank">
                            <span>
                                <i class="fa fa-twitter"></i>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a class="google" href="#" target="_blank">
                            <span>
                                <i class="fa fa-google-plus"></i>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a class="rss" href="#" target="_blank">
                            <span>
                                <i class="fa fa-rss"></i>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a class="linkedin" href="#" target="_blank">
                            <span>
                                <i class="fa fa-linkedin"></i>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a class="youtube" href="#" target="_blank">
                            <span>
                                <i class="fa fa-youtube"></i>
                            </span>
                        </a>
                    </li>
                </ul>
            </div>
        </section>
        <!-- End: Social Network -->
{% endblock %}

{% block scripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script type="text/javascript">
    $( "form" ).submit(function( event ) {
            event.preventDefault();
            var serializedData = $(this).serialize();
            var email = $('#email').val();
            var = password = $('#password').val();
    $.ajax({
        type:"POST",
        url:"http://localhost:8000/register_api/",
        data:JSON.parse({
            "email":email,
            "password":password
        }),
        dataType: "json",
        contentType: 'application/json',
        success:function(data){
            console.log('Success',data);
        },
        error:function(data){
            console.log('ERO',response);
        }
    });
   });
</script>
{% endblock %}